{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "babel-plugin-transform-export-extensions",
    "@babel/plugin-syntax-export-namespace-from",
    "transform-class-properties",
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
