{
  "plugins": [
    "transform-react-jsx",
    "transform-decorators-legacy",
    "transform-class-properties",
    "babel-plugin-styled-components"
  ],
  "presets": [
    "env",
    "react",
    "stage-3"
  ]
}
